.typedHeading{
    display: block;
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sentence-box{
    height: 50%;
    width: 50%;
    background: white;
    color: black;
    margin-top: 20px;
}